

:root {
	--primary-color: #7063F0;
	--primary-color-light: #D7D3FF;
	--primary-color-super-light: #F3F2FF;
	--gray-color-1: #2D2D2D;
	--gray-color-2: #555555;
	--green-color: #02AF75;
	--green-color-light: #E4FFF6;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: var(--primary-color-super-light);
}


.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 10px 15%;
	border-bottom: 1px solid var(--primary-color-light);
}

.bigText {
	font-size: 24px;
	font-weight: bold;
	color: var(--primary-color);
}

.normalText {
	font-size: 18px;
	color: var(--gray-color-1);
}


.formSection {
	max-width: 70%;
	margin: 3% auto;
	border-bottom: 1px solid var(--primary-color-light);
}

.formText {
	font-size: 24px;
	color: var(--gray-color-1);
	margin-bottom: 10px;
	font-weight: bold;
}

.inputTask {
	width: 83%;
	height: 60px;
	font-size: 16px;
	margin-bottom: 40px;
	padding: 10px;
	border: 1px solid var(--primary-color);
	border-radius: 12px;
	background-color: var(--primary-color-light);
	color: var(--primary-color);
}

.inputTask::placeholder {
	color: var(--primary-color);
}

.inputTask:focus {
	outline: none;
	border: 2px solid var(--primary-color);
}


.btnAdd {
	width: 15%;
	height: 60px;
	background-color: var(--primary-color);
	color: white;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
}

/* Task List */
.tasksSection {
	max-width: 70%;
	margin: 3% auto;
}

.textSection{
	display: flex;
}

.sectionTitle {
	width: 100%;
	font-size: 24px;
	color: var(--gray-color-1);
	font-weight: bold;
}

.sectionSubtitle {
	font-size: 18px;
	color: var(--gray-color-1);
	margin-bottom: 20px;
}

.progressText{
	margin-left: auto;
	font-weight: bold;
}

.taskList {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.taskItem {
	display: flex;
	align-items: center;
	margin: 10px 0;
	padding: 10px;
	background-color: var(--primary-color-light);
	border: 1px solid var(--primary-color);
	border-radius: 12px;
}
.taskItemFinish{
	display: flex;
	align-items: center;
	margin: 10px 0;
	padding: 10px;
	background-color: var(--green-color-light);
	border: 1px solid var(--green-color);
	border-radius: 12px;
}

.boxCheck {
	display: flex;
	align-items: center;
	justify-content: center;
}


.checkboxTask {
	width: 20px;
	height: 20px;
	cursor: pointer;
	accent-color: var(--primary-color);
}

.checkboxTaskFinish{
	width: 20px;
	height: 20px;
	cursor: pointer;
	accent-color: var(--green-color);
	background-color: var(--green-color);
	
}

.taskText {
	margin-left: 15px;
	display: flex;
	flex-direction: column;
	width: 75%;
}

.taskName {
	font-size: 18px;
	color: var(--primary-color);
	font-weight: 500;
}
.taskNameFinish{
	font-size: 18px;
	color: var(--green-color);
	font-weight: 500;
}

.taskDate {
	font-size: 14px;
	color: var(--gray-color-1);
}

.btnTrash {
	margin-left: auto;
	background: none;
	border: none;
	cursor: pointer;
}
.inputDescription {
	border: none;
	accent-color: var(--primary-color-light);
	font-size: 14px;
	background-color: var(--primary-color-light);
	color: var(--primary-color);
	
	
}
.inputDescription:focus {
	outline: none;
	border: none;
}
.inputDescription::placeholder {
	color: var(--primary-color);
}
.inputDescriptionFinish {
	border: none;
	accent-color: var(--green-color-light);
	font-size: 14px;
	background-color: var(--green-color-light);
	color: var(--green-color);
}
.inputDescriptionFinish:focus {
	outline: none;
	border: none;
}
.inputDescriptionFinish::placeholder {
	color: var(--green-color);
}
.nothingMessage {
	text-align: center;
	padding-top: 13%;
	font-size: 18px;
	font-weight: bold;
	color: var(--gray-color-1);
}

.concluido {
	color: var(--green-color);
}
.saudacao{
	font-weight: normal;
}