:root{

  --corprimaria: #7063F0;
  --corsecundaria :#E4E1FF; 
  --cortercearia: #F3F2FF;
  --corsinsa: #2D2D2D;
  --corsinsamiasclaro: #555555;
}
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--cortercearia);
  color: var(--corsinsa);
 
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cortercearia);
  color: var(--corprimaria);
  border-bottom: 1px solid #D7D3FF;
  height: 60px;

}

.titulo{
  color: var(--corprimaria);
  margin-left: 15%;
  font-size: 24px;
}
.subtitulo{
  font-size: 18px;
  color: var(--corsinsa);
  margin-right: 15%;

}
.container {
  width: 70%;
  align-items: center;
  border-radius: 18px;
  margin: 0 auto;
  margin-top: 3%;
  
}

.add-tarefa {
  color: var(--corsinsa);
  margin-bottom: 10px;
  border-bottom: 1px solid #D7D3FF;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 30px ;
}

.input-area input {
  flex: 1;
  padding: 12px;
  border: 2px solid #7063f0;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  background-color: #d7d3ff;
}

.input-area button {
  background-color: #7a6cf0;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.input-area button:hover {
  background-color: #6754e2;
}

.lista-tarefa {
  margin-top: 30px;
}

.tarefa-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;

}
.descricao {
  color: var(--corsinsa);
  margin-bottom: 5%;
  font-size: 18px;
}
.final{
  text-align: center;
  margin-top: 20%;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.item-tarefa{
  height: 60px;
  display: flex;
  border-radius: 12px;
  background-color: var(--corsecundaria);
  border: 1px solid var(--corprimaria);
}
.inputbox{
  width: 20px;
	height: 20px;
	cursor: pointer;

}










